/* TeamStats.css */
.shot {
    opacity: 0.7;
  }
  
  .shot:hover {
    opacity: 1;
    stroke: black;
    stroke-width: 2;
  }
  
  button {
    margin: 5px;
  }
  
  #visualization-container {
    position: relative;
  }
  
  #3d-court canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  